<h2 class="heading-large type-heading">
    Cards view tweak
</h2>

<table class="lpa-cards tweak valign-top" id="savedforms">
    <thead>
        <tr>
            <th class="lpa-donor-header">Donor</th>
            <th class="lpa-number-header">Number</th>
            <th>Type</th>
            <th>Progress</th>
            <th>Last saved</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="lpa-donor text">
                <strong class="bold">Ms Evan Robinson</strong>
            </td>
            <td class="lpa-number">A997 2507 3429</td>
            <td class="lpa-type lpa-type-smaller">HW</td>
            <td class="lpa-progress"><span class="status status-started bold">Started</span></td>
            <td class="lpa-date tweak"><span>18/01/18</span></td>
            <td class="lpa-actions tweak push--top">
                <div class="lpa-cta">
                    <a class="button button-secondary" href="/lpa/99725073429">Continue</a>
                    <a class="js-form-popup button-link" href="/user/dashboard/confirm-delete-lpa/97407035500">Delete</a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lpa-donor text">
                <strong class="bold">Mr Birgir Thorarensen</strong>
            </td>
            <td class="lpa-number">A516 0435 5116</td>
            <td class="lpa-type lpa-type-smaller">PF</td>
            <td class="lpa-progress"><span class="status status-created bold">Created</span></td>
            <td class="lpa-date tweak"><span>03/10/17</span></td>
            <td class="lpa-actions tweak push--top">
                <div class="lpa-cta">
                    <a class="button button-secondary" href="/lpa/51604355116">Continue</a>
                    <a href="/lpa/51604355116/date-check" class="button-link">Check dates</a>
                    <a href="/user/dashboard/create/51604355116" class="button-link">Reuse details</a>
                    <a class="button-link js-form-popup" href="/user/dashboard/confirm-delete-lpa/51604355116">Delete</a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lpa-donor text">
                <strong class="bold">Mrs Brooke Little</strong>
            </td>
            <td class="lpa-number">A974 0703 5500</td>
            <td class="lpa-type lpa-type-smaller">PF</td>
            <td class="lpa-progress"><span class="status status-started bold">Started</span></td>
            <td class="lpa-date tweak"><span>21/02/17</span></td>
            <td class="lpa-actions tweak push--top">
                <div class="lpa-cta">
                    <a class="button button-secondary" href="/lpa/99725073429">Continue</a>
                    <a class="js-form-popup button-link" href="/user/dashboard/confirm-delete-lpa/97407035500">Delete</a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lpa-donor text">
                <strong class="bold">Mr Bailey Simpson</strong>
            </td>
            <td class="lpa-number">A039 1398 1192</td>
            <td class="lpa-type lpa-type-smaller">PF</td>
            <td class="lpa-progress"><span class="status status-completed bold">Completed</span></td>
            <td class="lpa-date tweak"><span>01/02/17</span></td>
            <td class="lpa-actions tweak push--top">
                <div class="lpa-cta">
                    <a class="button button-secondary" href="/lpa/51604355116">View LPA</a>
                    <a href="/lpa/51604355116/date-check" class="button-link">Check dates</a>
                    <a href="/user/dashboard/create/51604355116" class="button-link">Reuse details</a>
                    <a class="button-link js-form-popup" href="/user/dashboard/confirm-delete-lpa/51604355116">Delete</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>