<h2 class="heading-large type-heading">
            Current card view
        </h2>

        <table class="lpa-cards" id="savedforms">
            <thead>
                <tr>
                    <th class="lpa-donor-header">Donor</th>
                    <th class="lpa-number-header">LPA number</th>
                    <th>LPA type</th>
                    <th>Progress</th>
                    <th>Last saved</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="lpa-donor text">
                        <strong class="bold">Ms Evan Robinson</strong>
                    </td>
                    <td class="lpa-number">A997 2507 3429</td>
                    <td class="lpa-type">HW</td>
                    <td class="lpa-progress"><span class="progress progress-started">Started</span></td>
                    <td class="lpa-date"><span>18/01/18</span></td>
                    <td class="lpa-actions">
                        <div class="lpa-cta">
                            <a class="button button-secondary" href="/lpa/99725073429">Continue</a>
                        </div>
                        <div class="lpa-manage">
                            <div>
                                <ul>
                                    <li class="action-item last">
                                        <a class="js-form-popup" href="/user/dashboard/confirm-delete-lpa/99725073429">Delete <span class="extra-text">LPA</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="lpa-donor text">
                        <strong class="bold">Mr Birgir Thorarensen</strong>
                    </td>
                    <td class="lpa-number">A516 0435 5116</td>
                    <td class="lpa-type">PF</td>
                    <td class="lpa-progress"><span class="progress progress-completed">Created</span></td>
                    <td class="lpa-date"><span>03/10/17</span></td>
                    <td class="lpa-actions">
                        <div class="lpa-cta">
                            <a class="button button-secondary" href="/lpa/51604355116">Continue</a>
                        </div>
                        <div class="lpa-manage">
                            <div>
                                <ul>
                                    <li>
                                        <a href="/lpa/51604355116/date-check">Check <span class="extra-text">signing</span> dates</a>
                                    </li>
                                    <li>
                                        <a href="/user/dashboard/create/51604355116">Reuse <span class="extra-text">LPA</span> details</a>
                                    </li>
                                    <li class="action-item last">
                                        <a class="js-form-popup" href="/user/dashboard/confirm-delete-lpa/51604355116">Delete <span class="extra-text">LPA</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="lpa-donor text">
                        <strong class="bold">Mrs Brooke Little</strong>
                    </td>
                    <td class="lpa-number">A974 0703 5500</td>
                    <td class="lpa-type">PF</td>
                    <td class="lpa-progress"><span class="progress progress-started">Started</span></td>
                    <td class="lpa-date"><span>21/02/17</span></td>
                    <td class="lpa-actions">
                        <div class="lpa-cta">
                            <a class="button button-secondary" href="/lpa/97407035500">Continue</a>
                        </div>
                        <div class="lpa-manage">
                            <div>
                                <ul>
                                    <li class="action-item last">
                                        <a class="js-form-popup" href="/user/dashboard/confirm-delete-lpa/97407035500">Delete <span class="extra-text">LPA</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="lpa-donor text">
                        <strong class="bold">Mr Bailey Simpson</strong>
                    </td>
                    <td class="lpa-number">A039 1398 1192</td>
                    <td class="lpa-type">PF</td>
                    <td class="lpa-progress"><span class="progress progress-completed">Completed</span></td>
                    <td class="lpa-date"><span>01/02/17</span></td>
                    <td class="lpa-actions">
                        <div class="lpa-cta">
                            <a class="button button-secondary" href="/lpa/3913981192">View LPA</a>
                        </div>
                        <div class="lpa-manage">
                            <div>
                                <ul>
                                    <li>
                                        <a href="/lpa/3913981192/date-check">Check <span class="extra-text">signing</span> dates</a>
                                    </li>
                                    <li>
                                        <a href="/user/dashboard/create/3913981192">Reuse <span class="extra-text">LPA</span> details</a>
                                    </li>
                                    <li class="action-item last">
                                        <a class="js-form-popup" href="/user/dashboard/confirm-delete-lpa/3913981192">Delete <span class="extra-text">LPA</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>