<h2 class="heading-large type-heading">
    New style - definition list, no table
</h2>
<ul class="push--bottom">
    <li class="card">
        <dl>
            <dt>Donor:</dt>
            <dd>First Lastname</dd>
            <dt>LPA Number:</dt>
            <dd>A999 1532 7899</dd>
            <dt>Status:</dt>
            <dd>started</dd>
            <dt>LPA type:</dt>
            <dd>PF</dd>
            <dt>Last saved on:</dt>
            <dd>12/12/18</dd>
        </dl>
        <ul>
            <li><a href="#">Continue</a></li>
            <li><a href="#">Check dates</a></li>
            <li><a href="#">Reuse details</a></li>
            <li><a href="#">Delete</a></li>
        </ul>
    </li>
</ul>