 <h2 class="heading-large type-heading">
            New style - still table, old design adjusted
        </h2>

        <table id="savedforms" class="lpa-card">
            <thead>
                <tr>
                    <th class="lpa-donor-header">Donor</th>
                    <th class="lpa-number-header">LPA number</th>
                    <th>LPA type</th>
                    <th>Progress</th>
                    <th>Last saved</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="lpa-donor text">
                        <strong class="bold">Samuel Gunner</strong>
                    </td>
                    <td class="lpa-number">A205 7086 8252</td>
                    <td class="lpa-progress">
                        <span class="progress progress-started">started</span>
                    </td>
                    <td class="lpa-date further-right">
                        <span>
                            <strong class="bold">12/02/18</strong>
                        </span>
                    </td>
                    <td class="lpa-actions">
                        <a class="button button-secondary" href="/lpa/20570868252">Continue</a>
                        <a href="/user/dashboard/confirm-delete-lpa/20570868252" class="button-link js-form-popup">Delete</a>
                    </td>
                </tr>

                <tr>
                    <td class="lpa-donor text">
                        <strong class="bold">Jennifer Sacks</strong>
                    </td>
                    <td class="lpa-number">A205 7086 8252</td>
                    <td class="lpa-type">
                        <span>
                            <strong class="bold">HW</strong>
                        </span>
                    </td>
                    <td class="lpa-progress">
                        <span class="progress progress-created">created</span>
                    </td>
                    <td class="lpa-date">
                        <span>
                            <strong class="bold">12/02/18</strong>
                        </span>
                    </td>
                    <td class="lpa-actions">
                        <a class="button button-secondary" href="/lpa/20570868252">Continue</a>
                        <a href="/user/dashboard/confirm-delete-lpa/20570868252" class="button-link js-form-popup">Delete</a>
                    </td>
                </tr>

                <tr>
                    <td class="lpa-donor text">
                        <strong class="bold">Richard Flask</strong>
                    </td>
                    <td class="lpa-number">A205 7086 8252</td>
                    <td class="lpa-type">
                        <span>
                            <strong class="bold">PF</strong>
                        </span>
                    </td>
                    <td class="lpa-progress">
                        <span class="progress progress-completed">completed</span>
                    </td>
                    <td class="lpa-date">
                        <span>
                            <strong class="bold">12/02/18</strong>
                        </span>
                    </td>
                    <td class="lpa-actions">
                        <a class="button button-secondary" href="/lpa/20570868252">View LPA</a>
                        <a href="#" class="button-link">Check dates</a>
                        <a href="#" class="button-link">Reuse details</a>
                        <a href="/user/dashboard/confirm-delete-lpa/20570868252" class="button-link js-form-popup">Delete</a>
                    </td>
                </tr>
                </tr>
            </tbody>
        </table>