<h2 class="heading-large type-heading">
    Table view tweak
</h2>

<table class="lpa-table valign-top" id="savedforms">
    <thead>
        <tr>
            <th class="lpa-donor-header">Donor</th>
            <th class="lpa-number-header">Number</th>
            <th>Type</th>
            <th>Progress</th>
            <th>Last saved</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="lpa-donor text">
                <strong class="bold">Ms Evan Robinson</strong>
                <div class="lpa-number-alt">
                    A997 2507 3429
                </div>
            </td>
            <td class="lpa-number">A997 2507 3429</td>
            <td class="lpa-type lpa-type-smaller">HW</td>
            <td class="lpa-progress"><span class="status status-started bold">Started</span></td>
            <td class="lpa-date tweak"><span>18/01/18</span></td>
            <td class="lpa-actions tweak">
                <div class="lpa-cta">
                    <a class="button button-secondary" href="/lpa/99725073429">Continue</a>
                </div>
                <div class="lpa-manage">
                    <a class="js-form-popup" href="/user/dashboard/confirm-delete-lpa/97407035500">Delete <span class="extra-text">LPA</span></a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lpa-donor text">
                <strong class="bold">Mr Birgir Thorarensen</strong>
                <div class="lpa-number-alt">
                    A516 0435 5116
                </div>
            </td>
            <td class="lpa-number">A516 0435 5116</td>
            <td class="lpa-type lpa-type-smaller">PF</td>
            <td class="lpa-progress"><span class="status status-created bold">Created</span></td>
            <td class="lpa-date tweak"><span>03/10/17</span></td>
            <td class="lpa-actions tweak">
                <div class="lpa-cta">
                    <a class="button button-secondary" href="/lpa/51604355116">Continue</a>
                </div>
                <div class="lpa-manage tweak">
                    <a href="/lpa/51604355116/date-check">Check <span class="extra-text">signing</span> dates</a><br>
                    <a href="/user/dashboard/create/51604355116">Reuse <span class="extra-text">LPA</span> details</a><br>
                    <a class="js-form-popup" href="/user/dashboard/confirm-delete-lpa/51604355116">Delete <span class="extra-text">LPA</span></a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lpa-donor text">
                <strong class="bold">Mrs Brooke Little</strong>
                <div class="lpa-number-alt">
                    A974 0703 5500
                </div>
            </td>
            <td class="lpa-number">A974 0703 5500</td>
            <td class="lpa-type lpa-type-smaller">PF</td>
            <td class="lpa-progress"><span class="status status-started bold">Started</span></td>
            <td class="lpa-date tweak"><span>21/02/17</span></td>
            <td class="lpa-actions tweak">
                <div class="lpa-cta">
                    <a class="button button-secondary" href="/lpa/97407035500">Continue</a>
                </div>
                <div class="lpa-manage">
                    <a class="js-form-popup" href="/user/dashboard/confirm-delete-lpa/97407035500">Delete <span class="extra-text">LPA</span></a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="lpa-donor text">
                <strong class="bold">Mr Bailey Simpson</strong>
                <div class="lpa-number-alt">
                    A039 1398 1192
                </div>
            </td>
            <td class="lpa-number">A039 1398 1192</td>
            <td class="lpa-type lpa-type-smaller">PF</td>
            <td class="lpa-progress"><span class="status status-completed bold">Completed</span></td>
            <td class="lpa-date tweak"><span>01/02/17</span></td>
            <td class="lpa-actions tweak">
                <div class="lpa-cta">
                    <a class="button button-secondary" href="/lpa/51604355116">View LPA</a>
                </div>
                <div class="lpa-manage tweak">
                    <a href="/lpa/51604355116/date-check">Check <span class="extra-text">signing</span> dates</a><br>
                    <a href="/user/dashboard/create/51604355116">Reuse <span class="extra-text">LPA</span> details</a><br>
                    <a class="js-form-popup" href="/user/dashboard/confirm-delete-lpa/51604355116">Delete <span class="extra-text">LPA</span></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>