{% extends 'layout/layout.twig' %}

{% block content %}

    <!-- SUBJECT: Activate your lasting power of attorney account -->

    <h2 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
        About your Make a Lasting Power of Attorney account
    </h2>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        An attempt has been made to create a new account on the Lasting power of attorney service using your email address:
    </p>

    <h2 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
        If you tried to create the account
    </h2>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        You already have an account using this email address. You can sign in to your account at <a href="www.lastingpowerofattorney.service.gov.uk/login">www.lastingpowerofattorney.service.gov.uk/login</a>
    </p>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        If you have forgotten your password, you can reset it by going to <a href="www.lastingpowerofattorney.service.gov.uk/forgot-password">www.lastingpowerofattorney.service.gov.uk/forgot-password</a>
    </p>
    <h2 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
        If you did not try to create the account
    </h2>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        There’s nothing you need to do. The new account has not been created. If you have any concerns or notice any suspicious behaviour on your account, please contact us.
    </p>

    <h3 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
        Contact us:
    </h3>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        This is an automatic email – please do not reply to this address.
    </p>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        Email <a href="mailto:customerservices@publicguardian.gov.uk">customerservices@publicguardian.gov.uk</a>
    </p>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        Call <strong>0300 456 0300</strong>
    </p>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        Monday to Friday (except Wednesday) 9am to 5pmWednesday 10am to 5pm
    </p>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        Textphone <strong>0115 934 2778</strong>
    </p>

    <h3 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
        Office of the Public Guardian
    </h3>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        PO Box 16185
    </p>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        Birmingham B2 2WH
    </p>

    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        <a href="www.lastingpowerofattorney.service.gov.uk">www.lastingpowerofattorney.service.gov.uk</a>
    </p>

{% endblock content %}
