{% extends 'layout/twig/layout.twig' %}

{% block pageTitle %}Icons and images{% endblock %}
{% block supportTitleTop %}
    <span class="heading-secondary">LPA style guide</span>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li><a href="/styleguide">LPA style guide</a></li>
            <li>Icons and images</li>
        </ol>
    </div>
{% endblock %}

{% block content %}

    <h2 class="heading-medium">Icons</h2>

    <ul class="list">
        <li>
            <i class="icon icon-information"></i>
            <p>icon-information.png</p>
        </li>
        <li>
            <i class="icon icon-file-download"></i>
            <p>icon-file-download.png</p>
        </li>
        <li>
            <i class="icon icon-question"></i>
            <p>icon-question.png</p>
        </li>
        <li>
            <i class="icon icon-tick"></i>
            <p>icon-tick.png</p>
        </li>
        <li>
            <i class="icon icon-cross"></i>
            <p>icon-cross.png</p>
        </li>
        <li>
            <i class="icon icon-important-small"></i>
            <p>icon-important-small.png</p>
        </li>
        <li>
            <i class="icon icon-person"></i>
            <p>icon-person.png</p>
        </li>
        <li>
            <i class="icon icon-phone"></i>
            <p>icon-phone.png</p>
        </li>
        <li>
            <i class="icon icon-email"></i>
            <p>icon-email.png</p>
        </li>
        <li>
            <i class="icon icon-post"></i>
            <p>icon-post.png</p>
        </li>
        <li>
            <i class="icon icon-fax"></i>
            <p>icon-fax.png</p>
        </li>
        <li>
            <i class="icon icon-bin"></i>
            <p>icon-bin.png</p>
        </li>
    </ul>

    <h2 class="heading-medium">Images</h2>

    <ul class="list">
        <li>
            <img src="/assets/v2/images/icons/icon-close.png" alt="">
            <p>icon-close.png</p>
        </li>
        <li>
            <img src="/assets/v2/images/icons/icon-search.png" alt="">
            <p>icon-search.png</p>
        </li>
    </ul>

{% endblock content %}