{% extends 'layout/twig/layout.twig' %}

{% block pageTitle %}
    LPA style guide
{% endblock %}

{% block content %}

	<p class="lede text">This guide shows extensions to the standard GDS elements collection for the MOJ LPA webservice.</p>

    <div class="grid-row">
        <div class="column-third">
            <h2 class="heading-medium"><a href="{{ url('styleguide/icons') }}">Icons and images</a></h2>
            <p></p>
        </div>
        <div class="column-third">

        </div>
        <div class="column-third">

        </div>
    </div>

{% endblock content %}