// =======================================================
// LPA LIST - CARDS AND TABLE VIEWS

// Headings
.type-heading {
    margin-bottom: $gutter;
    padding-bottom: $gutter-half;
    border-bottom: 1px solid $border-colour;

    @include media(mobile) {
        margin-bottom: $gutter-half;
        padding-top: 6px;
        padding-bottom: 12px;
        border-top: 1px solid $border-colour;
    }

    @include media($max-width: 360px) {
        padding: 8px 0 6px;
    }

    .icon {
        position: relative;
        top: 10px;

        @include media(mobile) {
            top: 5px;
        }
    }
}

.status {
    display: inline-block;
    color: $white;
    padding: 3px 8px 1px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    &.status-started {
        background-color: $yellow;
    }
    &.status-created {
        background-color: $turquoise;
    }
    &.status-completed {
        background-color: $green;
    }
}

.lpa-card {
    thead {
        display: none;
    }

    tr {
        @include box-sizing (border-box);
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: $gutter-half;
        padding: $gutter-half $gutter-half 8px $gutter-half;
        float: left;
        border: 1px solid $border-colour;
    }

    td {
        display: block;
        position: relative;
        padding: 0;
        border-bottom: 0;
    }

    .lpa-donor {
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-right: 120px;

        @include media($min-width: 870px) {
            padding-right: 210px;
        }
    }

    .lpa-number {
        width: 100%;
        float: left;
        color: $secondary-text-colour;
    }

    .lpa-type {
        position: absolute;
        right: 185px;
        span {
            &:before {
                display: block;
                content: 'LPA type: ';
            }
        }
    }

    .lpa-date {
        position: absolute;
        right: 320px;
        span {
            &:before {
                display: block;
                content: 'Last saved: '
            }
        }

    }

    .lpa-progress {
        position: absolute;
        right: 15px;
    }

    .progress {
        display: block;
        width: 100px;
        padding: 65px 6px 6px;
        background-color: $panel-colour;
        background-repeat: no-repeat;
        background-position: center 10px;
        background-size: 50px;
        text-align: center;
        &.progress-started {
            background-image: url('../images/custom/progress-started.svg');

        }

        &.progress-created {
            background-image: url('../images/custom/progress-created.svg');
        }

        &.progress-completed {
            background-image: url('../images/custom/progress-completed.svg');
        }
    }

    .lpa-actions {
        padding-top: 55px;
        .button-link {
            line-height: 2.5em;
            margin-left: 15px;
        }
    }
}

// Table View
.lpa-table {

    &.valign-top {
        td {
            vertical-align: top;
            padding-top: 22px;
        }
    }

    .lpa-donor {
        @include media($min-width: 750px) {
            width: 30%;
        }

        @include media($min-width: 861px) {
            width: 23%;
        }

        @include media($min-width: 950px) {
            width: 24%;
        }
    }

    .lpa-number {
        display: table-cell;
        color: $secondary-text-colour;

        @include media($min-width: 861px) {
            width: 150px;
        }

        @include media($max-width: 860px) {
            display: none;
        }

        @include media($min-width: 950px) {
            width: 135px;
        }
    }

    .lpa-number-alt {
        display: none;
        color: $secondary-text-colour;

        @include media($max-width: 860px) {
            display: inline-block;
        }
    }

    .lpa-donor-header {
        &:after {
            content: '';

            @include media($max-width: 860px) {
                content: ' / LPA number';
            }
        }
    }

    .lpa-number-header {
        display: table-cell;

        @include media($max-width: 860px) {
            display: none;
        }
    }

    .lpa-type {
        color: $secondary-text-colour;

        @include media($min-width: 861px) {
            width: 70px;
        }

        @include media($min-width: 950px) {
            width: 70px;
        }
    }

    .lpa-type-smaller {
        color: $secondary-text-colour;

        @include media($min-width: 861px) {
            width: 40px;
        }

        @include media($min-width: 950px) {
            width: 40px;
        }
    }

    .lpa-progress {
        @include media($min-width: 770px) {
            width: 60px;
        }

        @include media($min-width: 861px) {
            width: 70px;
        }

        @include media($min-width: 950px) {
            width: 80px;
        }

        .progress-started {
            color: $orange;
        }

        .progress-completed {
            color: $green;
        }
    }

    .lpa-date {
        width: 80px;
        color: $secondary-text-colour;

        &.tweak {
            width: 75px;
        }
    }

    .lpa-actions {
        width: 190px;

        &.tweak {
            width: 200px;
        }

        .button {
            margin-top: 13px;
            float: right;
        }
    }

    .lpa-cta {
        > .first {
            margin-left: 15px;
        }
    }

    .lpa-manage {
        margin-top: 21px;
        float: left;

        ul > li:only-child {
            @include media(tablet) {
                padding-left: 24px;
            }
        }

        .extra-text {
            @include media(tablet) {
                display: none;
            }
        }

        &.tweak {
            padding-right: 10px;
            padding-bottom: 15px;
        }
    }

    td:nth-child(6) {
        @include media($min-width: 641px) {
            padding: 0;
        }
    }

    .button {
        @include media($min-width: 641px) {
            margin-bottom: 14px;
        }
    }
}

.lpa-actions {
    padding-top: 12px;
}

// Cards View
.lpa-cards {

    &.tweak {
        .button {
            position: relative;
            bottom: 0;
        }

        .button-link {
            margin-left: 15px;
        }

        .lpa-actions {
            min-height: 0;
        }

        .lpa-progress {
            line-height: 1em;
            span {
                //text-align: right;
            }
        }

        .status {
            @include box-sizing (border-box);
        }
    }

    thead {
        display: none;
    }

    tr {
        @include box-sizing (border-box);
        display: block;
        position: relative;
        width: 48.5%;
        margin-bottom: $gutter;
        padding: $gutter-half;
        float: left;
        border: 1px solid $border-colour;

        @include media(mobile) {
            width: 100%;
        }

        &:nth-child(2n-1) {
            margin-right: 3%;
        }

        &.odd {
            margin-right: 3%;
        }
    }

    td {
        display: block;
        position: relative;
        padding: 0;
        border-bottom: 0;
        font-size: 19px;
    }

    .lpa-donor {
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-right: 120px;

        @include media($min-width: 870px) {
            padding-right: 210px;
        }
    }

    .lpa-number {
        width: 100%;
        float: left;
        color: $secondary-text-colour;
    }

    .lpa-type {
        display: none;
    }

    .lpa-progress,
    .lpa-date {
        position: absolute;
        right: 0;
        width: 128px;
        padding: 0;
        line-height: 1.31579em;

        @include media($min-width: 870px) {
            width: 210px;
        }

        @include media(mobile) {
            position: static;
        }

        @include media($max-width: 380px) {
            //width: 100px;
        }

        span {
            display: block;
            position: relative;
            width: 100%;
            text-align: left;

            @include media(mobile) {
                display: inline;
                position: static;
            }
        }
    }

    .progress {
        &:before {
            color: $secondary-text-colour;
            content: 'Status: ';

            @include media($min-width: 641px) {
                content: '';
            }

            @include media($min-width: 870px) {
                content: 'Status: ';
            }

            @include media(mobile) {
                content: '';
            }
        }

        &.progress-started {
            color: $orange;
        }

        &.progress-completed {
            color: $green;
        }
    }

    .lpa-date span {
        top: 24px;
        color: $secondary-text-colour;

        &:before {
            content: 'Last saved on: ';

            @include media($min-width: 641px) {
                content: '';
            }

            @include media($min-width: 870px) {
                content: 'Last saved on: ';
            }

            @include media(mobile) {
                content: '';
            }
        }
    }

    .lpa-actions {
        position: relative;
        width: 100%;
        min-height: 80px;
        float: left;
    }

    .button {
        @include media(tablet) {
            position: absolute;
            bottom: 2px;

            &:active {
                top: inherit;
            }
        }
    }

    .lpa-cta {
        width: 100%;
        float: left;
    }

    .lpa-manage {
        @include media(tablet) {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 112px;
            padding: 0;
        }

        @include media($min-width: 870px) {
            width: 194px;
        }

        .extra-text {
            @include media(tablet) {
                display: none;
            }

            @include media($min-width: 870px) {
                display: inline;
            }
        }
    }
}

// Mobile View
.lpa-table,
.lpa-cards {
    @include media(mobile) {
        thead {
            display: none;
        }

        tr {
            display: block;
            position: relative;
            margin-bottom: $gutter-half;
            padding: $gutter-half;
            border: 1px solid $border-colour;
            overflow: hidden;

            &:last-child {
                margin-bottom: 0;
            }

            &:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }

        td {
            display: block;
            position: relative;
            padding: 0 0 6px;
            border-bottom: 0;
        }

        .lpa-donor {
            .heading-medium,
            .heading-small {
                padding-right: 90px;

                @include media($max-width: 300px) {
                    padding-right: 50px;
                }
            }
        }

        .lpa-number {
            display: block;
            margin-bottom: $gutter-half;
            padding-top: 0;
            color: $secondary-text-colour;
            font-size: 16px;
        }

        .lpa-number-alt {
            display: none;
        }

        .lpa-type {
            color: $secondary-text-colour;
            font-size: 16px;

            &:before {
                content: 'Type: ';
            }
        }

        .lpa-progress {
            width: 150px;
            font-size: 16px;

            &:before {
                color: $secondary-text-colour;
                content: 'Status: ';
            }

        }

        .lpa-date {
            display: block;
            width: 100%;
            color: $secondary-text-colour;
            font-size: 16px;

            &:before {
                content: 'Last saved: ';

                @include media($max-width: 320px) {
                    content: '';
                }
            }
        }

        .lpa-actions {
            position: static;
            width: 70%;
            min-height: 0;
            padding-bottom: 0;
        }

        .lpa-cta {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            .button {
                display: block;
                position: absolute;
                right: 0;
                width: 90px;
                height: 100%;
                margin-top: 0;
                float: none;
                border-left: 1px solid $border-colour;
                background-image: url('../images/custom/arrow-in-circle.png');
                background-repeat: no-repeat;
                background-position: center;
                text-indent: -9999px;
                box-shadow: 0 0 0;
                vertical-align: middle;

                @include media($max-width: 300px) {
                    width: 50px;
                    background-size: 60%;
                }
            }
        }

        .lpa-manage {
            position: relative;
            margin-top: $gutter-half;
            float: none;
            font-size: 16px;

            .summary:after {
                content: ' this LPA';
            }

            li {
                margin-bottom: 4px;
            }

            .last {
                margin-bottom: 0;
            }
        }
    }
}
